/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colours */

  --neutral-900: #2b2620;
  --neutral-800: #3e3428;
  --neutral-700: #5a4c3c;
  --neutral-600: #7a6a57;
  --neutral-400: #e4ded5;
  --neutral-200: #f2eeea;
  --neutral-100: #fbf6ef;
  --neutral-50: #fdfbf7;
  --neutral-0: #fff;
  --sun-500: #edb63a;
  --sun-300: #f5d98a;
  --sun-200: #ffde7a;
  --sun-50: #fff4dc;
  --blue-500: #5769c6;
  --terracotta-700: #9f3e1d;
  --terracotta-600: #b7411b;
  --terracotta-500: #c25a2e;
  --terracotta-400: #e07a3f;
  --rose-500: #c04a72;

  /* Text Presets */
  --txt-preset-1-fs: 2.5rem;
  --txt-preset-1-lh: 120%;
  --txt-preset-1-ls: -0.5px;
  --txt-preset-1-ital-fs: 2.5rem;
  --txt-preset-1-ital-lh: 120%;
  --txt-preset-1-ital-ls: -0.5px;
  --txt-preset-1-ital-style: italic;
  --txt-preset-2-fs: 2rem;
  --txt-preset-2-lh: 120%;
  --txt-preset-2-ls: -0.25px;
  --txt-preset-3-fs: 1.5rem;
  --txt-preset-3-lh: 140%;
  --txt-preset-3-ls: -0.2px;
  --txt-preset-4-fs: 1.25rem;
  --txt-preset-4-lh: 140%;
  --txt-preset-4-ls: -0.1px;
  --txt-preset-4-ital-fs: 1.25rem;
  --txt-preset-4-ital-lh: 140%;
  --txt-preset-4-ital-ls: -0.1px;
  --txt-preset-4-ital-style: italic;
  --txt-preset-5-fs: 14px;
  --txt-preset-5-lh: 140%;
  --txt-preset-5-med-fs: 0.875rem;
  --txt-preset-5-med-lh: 120%;
  --txt-preset-5-med-fw: 500;
  --txt-preset-5-semi-b-fs: 0.875rem;
  --txt-preset-5-semi-b-lh: 120%;
  --txt-preset-5-semi-b-ls: 0.3px;
  --txt-preset-5-semi-b-fw: 600;
  --txt-preset-6-fs: 0.875rem;
  --txt-preset-6-lh: 140%;
  --txt-preset-6-ls: 2px;
  --txt-preset-6-fw: 500;
  --txt-preset-7-fs: 0.75rem;
  --txt-preset-7-lh: 120%;
  --txt-preset-7-ls: 0.4px;
  --txt-preset-8-fs: 0.75rem;
  --txt-preset-8-lh: 140%;
  --txt-preset-8-ls: 2px;
  --txt-preset-9-fs: 0.75rem;
  --txt-preset-9-lh: 140%;
  --txt-preset-10-fs: 10px;
  --txt-preset-10-lh: 140%;
  --txt-preset-10-ls: 1px;
  --txt-preset-11-fs: 10px;
  --txt-preset-11-lh: 140%;
  --txt-preset-11-ls: 1px;
}

/* || Main Styles */

body {
  position: relative;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.0625rem solid var(--neutral-400);
  background-color: var(--neutral-100);
  padding: 1rem;
  width: 100%;
}

.header-menu-icon,
.close-btn {
  cursor: pointer;
  border: 0.0625rem solid var(--neutral-400);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

/* Mobile Menu */

.overlay {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition:
    opacity 0.3s ease-in-out,
    z-index 0.1s ease-in-out;
  inset: 0;
  background-color: var(--neutral-700);
  width: 100%;
  height: 100vh;
}

.overlay_visble {
  opacity: 0.5;
  z-index: 1;
}

.mobile_menu {
  display: block;
  position: fixed;
  transform: translateX(-100%);
  opacity: 1;
  z-index: -1;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.1s ease-in-out,
    z-index 0.1s ease-in-out;
  inset: 0;
  background-color: var(--neutral-100);
  width: 20rem;
}

.mobile_menu_visible {
  transform: translateX(0%);
  opacity: 1;
  z-index: 2;
}

.mobile_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 1rem;
  border: 0.0625rem solid var(--neutral-400);
  background-color: var(--neutral-100);
  padding: 1rem;
  width: 100%;
}

.mobile_nav {
  list-style: none;
}

.mobile_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
  height: 85vh;
}

.mobile_nav_list_item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.5rem 0.75rem;
  font-weight: var(--txt-preset-5-med-fw);
  font-size: var(--txt-preset-5-med-fs);
  line-height: var(--txt-preset-5-med-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.mobile_nav_list_item:hover {
  background-color: var(--neutral-0);
}

.mobile_menu_weather {
  position: relative;
  margin-block-end: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem var(--neutral-400);
  border-radius: 1rem;
  background-color: var(--sun-300);
  padding: 0.75rem 1rem;
  overflow: hidden;
}

.weather_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.weather_today {
  color: var(--neutral-700);
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-10-ls);
}

.temperature {
  font-weight: var(--txt-preset-2-fw);
  font-size: var(--txt-preset-2-fs);
  line-height: var(--txt-preset-2-lh);
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-2-ls);
}

.weather_description {
  color: var(--neutral-700);
  font-size: var(--txt-preset-7-fs);
  line-height: var(--txt-preset-7-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-7-ls);
}

.sun_image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -35%);
}

hr {
  margin-block-end: 1rem;
  border-style: dashed;
  color: var(--neutral-400);
}

.menu_footer_text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--neutral-600);
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-10-ls);
}
