/* || Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Colours */

  --neutral-900: #2b2620;
  --neutral-800: #3e3428;
  --neutral-700: #5a4c3c;
  --neutral-600: #7a6a57;
  --neutral-400: #e4ded5;
  --neutral-200: #f2eeea;
  --neutral-100: #fbf6ef;
  --neutral-50: #fdfbf7;
  --neutral-0: #fff;
  --sun-500: #edb63a;
  --sun-300: #f5d98a;
  --sun-200: #ffde7a;
  --sun-50: #fff4dc;
  --blue-500: #5769c6;

  --terracotta-700: #9f3e1d;
  --terracotta-600: #b7411b;
  --terracotta-500: #c25a2e;
  --terracotta-400: #e07a3f;
  --terracotta-300: #f1b39f;
  --rose-500: #c04a72;

  /* Text Presets */
  --txt-preset-1-fs: 48px;
  --txt-preset-1-lh: 120%;
  --txt-preset-1-ls: -0.0313rem;
  --txt-preset-1-fw: 400;
  --txt-preset-1-ital-fs: 2.5rem;
  --txt-preset-1-ital-lh: 120%;
  --txt-preset-1-ital-ls: -0.0313rem;
  --txt-preset-1-ital-style: italic;
  --txt-preset-1-ital-fw: 400;
  --txt-preset-2-fs: 1.8rem;
  --txt-preset-2-lh: 120%;
  --txt-preset-2-ls: -0.0156rem;
  --txt-preset-2-fw: 400;
  --txt-preset-3-fs: 1.5rem;
  --txt-preset-3-lh: 140%;
  --txt-preset-3-ls: -0.0125rem;
  --txt-preset-3-fw: 400;
  --txt-preset-4-fs: 1.25rem;
  --txt-preset-4-lh: 140%;
  --txt-preset-4-ls: -0.0063rem;
  --txt-preset-4-fw: 400;
  --txt-preset-4-ital-fs: 1.25rem;
  --txt-preset-4-ital-lh: 140%;
  --txt-preset-4-ital-ls: -0.0063rem;
  --txt-preset-4-ital-style: italic;
  --txt-preset-4-ital-fw: 400;
  --txt-preset-5-fs: 0.775rem;
  --txt-preset-5-lh: 140%;
  --txt-preset-5-fw: 400;
  --txt-preset-5-med-fs: 0.875rem;
  --txt-preset-5-med-lh: 120%;
  --txt-preset-5-med-fw: 500;
  --txt-preset-5-semi-b-fs: 0.875rem;
  --txt-preset-5-semi-b-lh: 120%;
  --txt-preset-5-semi-b-ls: 0.0187rem;
  --txt-preset-5-semi-b-fw: 600;
  --txt-preset-6-fs: 0.875rem;
  --txt-preset-6-lh: 140%;
  --txt-preset-6-ls: 0.125rem;
  --txt-preset-6-fw: 500;
  --txt-preset-7-fs: 0.65rem;
  --txt-preset-7-lh: 120%;
  --txt-preset-7-ls: 0.025rem;
  --txt-preset-8-fs: 0.75rem;
  --txt-preset-8-lh: 140%;
  --txt-preset-8-ls: 0.125rem;
  --txt-preset-9-fs: 0.75rem;
  --txt-preset-9-lh: 140%;
  --txt-preset-10-fs: 0.625rem;
  --txt-preset-10-lh: 140%;
  --txt-preset-10-ls: 0.0625rem;
  --txt-preset-11-fs: 0.625rem;
  --txt-preset-11-lh: 140%;
  --txt-preset-11-ls: 0.0625rem;
}

/* || Main Styles */

body {
  position: relative;
  width: min(100%, 90rem);
  height: 100vh;
}

/* Mobile Header */

header {
  background-color: var(--neutral-100);
  width: 100%;
}

.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-overflow {
  border-top: 0.1rem solid var(--neutral-400);
  background-color: var(--neutral-100);
  width: 100%;
  height: 1rem;
}

.header-menu-icon,
.close-btn {
  cursor: pointer;
  border: 1px solid var(--neutral-400);
  border-radius: 4px;
  padding: 8px;
}

/* Mobile Menu */

.overlay {
  display: block;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition:
    opacity 0.3s ease-in-out,
    z-index 0.1s ease-in-out;
  inset: 0;
  background-color: var(--neutral-700);
  width: 100%;
  height: 100vh;
}

.overlay_visble {
  opacity: 0.5;
  z-index: 98;
}

.mobile_menu {
  display: block;
  position: fixed;
  transform: translateX(-100%);
  opacity: 1;
  z-index: -1;
  transition:
    transform 0.2s ease-in-out,
    opacity 0.1s ease-in-out,
    z-index 0.1s ease-in-out;
  inset: 0;
  background-color: var(--neutral-100);
  width: 320px;
}

.mobile_menu_visible {
  transform: translateX(0%);
  opacity: 1;
  z-index: 99;
}

.mobile_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 16px;
  border: 1px solid var(--neutral-400);
  background-color: var(--neutral-100);
  padding: 16px;
  width: 100%;
}

.mobile_nav {
  list-style: none;
}

.mobile_menu_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 16px;
  height: 85vh;
}

.mobile_nav_list_item {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: var(--txt-preset-5-med-fw);
  font-size: var(--txt-preset-5-med-fs);
  line-height: var(--txt-preset-5-med-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.mobile_nav_list_item:hover {
  background-color: var(--neutral-0);
}

.mobile_menu_weather {
  position: relative;
  margin-block-end: 16px;
  box-shadow: 3.2px 3.2px 8px var(--neutral-400);
  border-radius: 16px;
  background-color: var(--sun-300);
  padding: 12px 16px;
  width: 100%;
  overflow: hidden;
}

.weather_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.weather_today {
  color: var(--neutral-700);
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-10-ls);
}

.temperature {
  font-weight: var(--txt-preset-2-fw);
  font-size: var(--txt-preset-2-fs);
  line-height: var(--txt-preset-2-lh);
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-2-ls);
}

.weather_description {
  color: var(--neutral-700);
  font-size: var(--txt-preset-7-fs);
  line-height: var(--txt-preset-7-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-7-ls);
}

.sun_image {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(15%, -35%);
}

hr {
  margin-block-end: 16px;
  border-style: dashed;
  color: var(--neutral-400);
}

.menu_footer_text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--neutral-600);
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-10-ls);
}

/* Main Header Section */

main {
  padding: 0 1rem 2.5rem 1rem;
}

.main-header {
  margin-block-end: 3rem;
}

.main-header-text-container {
  margin-block-end: 1rem;
}

.booking-text {
  margin-block-end: 0.25rem;
  color: var(--neutral-600);
  font-size: var(--txt-preset-8-fs);
  line-height: var(--txt-preset-8-lh);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-8-ls);
}

h1 {
  color: var(--neutral-900);
  font-weight: var(--txt-preset-1-fw);
  font-size: var(--txt-preset-1-fs);
  line-height: var(--txt-preset-1-lh);
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-1-ls);
}

h1 span {
  color: var(--terracotta-600);
  font-style: italic;
}

.main-header-btns-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.header-btn {
  border: none;
  border-radius: 2rem;
  padding: 0.625rem 1rem;
  width: 11rem;
  height: 2.3125rem;
  font-weight: var(--txt-preset-5-semi-b-fw);
  font-size: var(--txt-preset-5-semi-b-fs);
  line-height: var(--txt-preset-5-semi-b-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  letter-spacing: var(--txt-preset-5-semi-b-ls);
}

.print-receipt-btn {
  border: 0.1rem solid var(--neutral-400);
  background-color: transparent;
  color: var(--neutral-900);
}

.add-to-calender-btn {
  background-color: var(--neutral-900);
  color: var(--sun-50);
}

/* Booking Cards Section */

/* Welcome Card */

.booking-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-item {
  padding: 1.5rem;
  width: 20.4375rem;
  height: 26.25rem;
}

.welcome-card {
  transform: rotate(4deg);
  z-index: 5;
  box-shadow: 1rem 1.2rem 3rem var(--terracotta-300);
  border-radius: 1.25rem;
  background: radial-gradient(
    circle at top right,
    var(--terracotta-400) 0%,
    var(--terracotta-500) 50%,
    var(--terracotta-700) 100%
  );
}

.welcome-card-content {
  border-top: 0.1rem dashed var(--terracotta-400);
}

.welcome-card-header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

.welcome-title,
.room {
  color: var(--sun-50);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
}

.welcome-title,
.room {
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  letter-spacing: var(--txt-preset-10-ls);
}

.welcome-flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6.8em;
}

.note-from-host,
.host-name,
.room-name {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}
.note-from-host {
  color: var(--sun-200);
  font-style: var(--txt-preset-4-ital-style);
  font-weight: var(--txt-preset-4-ital-fw);
  font-size: var(--txt-preset-4-ital-fs);
  line-height: var(--txt-preset-4-ital-lh);
  letter-spacing: var(--txt-preset-4-ital-ls);
}

.host-name,
.welcome-card-txt,
.room-name {
  color: var(--sun-50);
}

.host-name {
  margin-block-end: 2rem;
  font-style: var(--txt-preset-1-ital-style);
  font-weight: var(--txt-preset-1-ital-fw);
  font-size: var(--txt-preset-1-ital-fs);
  line-height: var(--txt-preset-1-ital-lh);
  letter-spacing: var(--txt-preset-1-ital-ls);
}

.welcome-card-txt {
  font-weight: var(--txt-preset-5-fw);
  font-size: var(--txt-preset-5-fs);
  line-height: var(--txt-preset-5-lh);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.room-name {
  font-weight: var(--txt-preset-4-fw);
  font-size: var(--txt-preset-4-fs);
}

/* Receipt Card */
.receipt-card {
  transform: rotate(-4deg);
  box-shadow: 1rem 0rem 3rem var(--neutral-400);
  border-radius: 1.25rem;
  background-color: var(--neutral-50);
  padding: 1.5rem 1.5rem;
  color: var(--neutral-900);
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.receipt-header {
  border-bottom: 0.1rem dashed var(--neutral-400);
  padding-bottom: 1.2rem;
}

.left-title,
.receipt-header-right,
.rec-header,
.total-sub-header {
  font-size: var(--txt-preset-10-fs);
  line-height: var(--txt-preset-10-lh);
  letter-spacing: var(--txt-preset-10-ls);
}

.receipt-header,
.receipt-header-right {
  display: flex;
  justify-content: space-between;
}

.receipt-header-right {
  gap: 1rem;
}

.rec-header,
.receipt-number-header {
  color: var(--neutral-600);
  font-family: 'DM Mono', Arial, Helvetica, sans-serif;
}

.check-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem dashed var(--neutral-400);
  padding: 1.2rem 1.5rem;
}

.check-date {
  font-weight: var(--txt-preset-2-fw);
  font-size: var(--txt-preset-2-fs);
  line-height: var(--txt-preset-2-lh);
  letter-spacing: var(--txt-preset-2-ls);
}

.check-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.your-stay,
.check-date,
.total-price {
  font-family: 'Fraunces', Arial, Helvetica, sans-serif;
}

.check-day-time {
  font-size: var(--txt-preset-7-fs);
  line-height: var(--txt-preset-7-lh);
  letter-spacing: var(--txt-preset-7-ls);
}

.breakdown-container {
  border-bottom: 0.1rem solid var(--neutral-400);
  padding: 1.2rem 0;
}

.breakdown-item {
  padding-right: 1rem;
  font-weight: var(--txt-preset-5-fw);
  font-size: var(--txt-preset-5-fs);
  line-height: var(--txt-preset-5-lh);
}

.breakdown-price {
  font-size: var(--txt-preset-9-fs);
  line-height: var(--txt-preset-9-lh);
}

.breakdown-item,
.breakdown-price {
  color: var(--neutral-900);
}

.receipt-total-container {
  padding: 1.2rem 0;
}

.receipt-total-container table {
  width: 100%;
}

.total-header {
  font-size: var(--txt-preset-8-fs);
  line-height: var(--txt-preset-8-lh);
  letter-spacing: var(--txt-preset-8-ls);
}

.total-price {
  font-weight: var(--txt-preset-3-fw);
  font-size: var(--txt-preset-3-fs);
  line-height: var(--txt-preset-3-lh);
  letter-spacing: var(--txt-preset-3-ls);
}

.total-header,
.total-sub-header {
  padding-right: 3rem;
}

.total-price-row,
.barcode-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 51.25rem) {
  body {
    background-color: var(--neutral-200);
  }

  .mobile_menu {
    width: 384px;
  }

  .main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-btn {
    width: 10rem;
  }

  .booking-cards {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .welcome-item {
    width: 21.25rem;
  }
}

@media screen and (min-width: 90rem) {
  body {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-row: 1fr;
  }
  header {
    display: none;
  }

  .mobile_menu {
    transform: translateX(0%);
    opacity: 1;
    z-index: 99;
    width: 16.25rem;
  }

  .close-btn {
    display: none;
  }

  main {
    margin-inline-start: 16.25rem;
    padding: 2rem 2.5rem;
    width: 100%;
  }

  .welcome-item {
    width: 25rem;
    height: 26.25rem;
  }
}
